BOND_IMX298_OFILM=/odm/etc/camera/hdccalib/bond_imx298_ofilm/
BOND_IMX298_FOXCONN=/odm/etc/camera/hdccalib/bond_imx298_foxconn/
BOND_OV16B10BND_OFILM=/odm/etc/camera/hdccalib/bond_ov16b10_ofilm/
BOND_OV16B10BND_LITEON=/odm/etc/camera/hdccalib/bond_ov16b10_liteon/
BOND_IMX498_FOXCONN=/odm/etc/camera/hdccalib/bond_imx498_foxconn/