BOND_IMX219BND_LITEON=/odm/etc/camera/hwscope/bond/
BOND_HI843BND_OFILM=/odm/etc/camera/hwscope/bond/
BOND_OV8856BND_SUNNY=/odm/etc/camera/hwscope/bond/
BOND_IMX298_OFILM=/odm/etc/camera/hwscope/bond/
BOND_IMX298_FOXCONN=/odm/etc/camera/hwscope/bond/
BOND_OV16B10BND_OFILM=/odm/etc/camera/hwscope/bond/
BOND_OV16B10BND_LITEON=/odm/etc/camera/hwscope/bond/
BOND_IMX498_FOXCONN=/odm/etc/camera/hwscope/bond/