BOND_IMX219BND_LITEON=/odm/etc/camera/smartae/imx219/
BOND_HI843BND_OFILM=/odm/etc/camera/smartae/hi843/
BOND_OV8856BND_SUNNY=/odm/etc/camera/smartae/ov8856/
BOND_IMX298_OFILM=/odm/etc/camera/smartae/imx298/
BOND_IMX298_FOXCONN=/odm/etc/camera/smartae/imx298/
BOND_OV16B10BND_OFILM=/odm/etc/camera/smartae/ov16b10_bond/
BOND_OV16B10BND_LITEON=/odm/etc/camera/smartae/ov16b10_bond/
BOND_IMX498_FOXCONN=/odm/etc/camera/smartae/imx498/